* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-container,
.board-container,
.bottom-container {
    flex-grow: 1;
}

.top-container > h1 {
    margin-top: 1rem;
    text-align: center;
}

.top-container > h2,
.top-container > h3 {
    height: 2rem;
    text-align: center;
}

.board-container h2 {
    margin-top: .75rem;
}

.board-container h3 {
    color: red;
}

.board-container h2,
.board-container h3 {
    text-align: center;
    height: 1.5rem;
}

.board-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.left-board-container,
.right-board-container {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: .1rem;
}

div[class*="board-div"] {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
}

.player-board-div.ship {
    background-color: grey;
}

div[class*="board-div"].hit {
    background-color: red;
}

div[class*="board-div"].miss {
    background-color: aqua;
}

.cpu-board-div:hover {
    background-color: darkred;
    cursor: pointer;
}

#button-container > button {
    cursor: pointer;
    padding: 7px 15px;
    margin-top: 2rem;
    color: white;
    background-color: #4681f4;
    border: 1px solid #4681f4;
    outline: none;
    border-radius: .25rem;
}

#button-container > button:hover {
    background-color: rgb(36, 160, 237);
}